{% extends 'base.html.twig' %}

{% block title 'biens' %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur la homepage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse odio qui rerum temporibus? Cupiditate deleniti distinctio, facere id maxime minima, mollitia necessitatibus nisi nostrum numquam repellendus saepe similique voluptas, voluptatibus!</p>
    </div>
{% endblock  %}
